{% extends 'base.twig' %}

{% block content %}

	{% block editie_header %}
		{% include 'components/header-editie.twig' %}
	{% endblock %}

	{% block editie_title %}
		<h1>{{post.title}}</h1>
	{% endblock %}

	{% block editie_content %}
		<div>{{post.content}}</div>
	{% endblock %}

{% endblock %}