{% extends 'single/single-editie.twig' %}

{% block editie_content %}
	{% for row in evenimente | batch(3) %}
		<div class='row'>
		{% for eveniment in row %}
			<div class='col-sm-4'>
			{% 
				include 'tease/tease-eveniment.twig' with {
					'post': eveniment
				}
			%}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}