{% extends 'single/single-editie.twig' %}

{% block editie_content %}

	<div class='row'>
		<div class='col-md-8'>
			<div class='post__content'>
				{{ post.content }}
			</div>
		</div>
	</div>

	{% set evenimente = post.get_field('evenimente') %}
	{% if evenimente | length %}
		<div class='page__evenimente'>
		{% for row in evenimente | batch(3) %}
			<div class='row row--spaced'>
			{% for eveniment in row %}
				<div class='col-sm-4'>
				{% 
					include 'tease/tease-eveniment.twig' with {
						'post': eveniment
					}
				%}
				</div>
			{% endfor %}
			</div>
		{% endfor %}
		</div>
	{% endif %}
{% endblock %}