{% extends 'single/single.twig' %}

{% block content %}

	<div class='calendar__dayselect'>
	{% for key, zi in zile %}
		{%
			include 'components/calendar-dayheader.twig' with {
				'date': key
			}
		%}
	{% endfor %}
	</div>

	{% for key, zi in zile %}
		<div class='calendar__day container-fluid'>
			<div class='row'>
				<div class='col-md-3'>
				{%
					include 'components/calendar-dayheader.twig' with {
						'date': key
					}
				%}
				</div>

				<div class='col-md-9'>

				{% for row in zi | batch(3) %}
					<div class='row'>
					{% for instanta_eveniment in row %}
						<div class='col-md-4'>
							<p>{{ instanta_eveniment.ora_inceput | date("H:i") }} — {{ instanta_eveniment.ora_sfarsit | date("H:i") }}</p>
							{% 
								include 'tease/tease-eveniment.twig' with {
									'post': instanta_eveniment.eveniment,
									'loc': instanta_eveniment.loc
								}
							%}
							<p><a href='{{instanta_eveniment.biletmaster}}' target='_blank'>Bilete</a></p>
						</div>
					{% endfor %}
					</div><!-- /row -->
				{% endfor %}
				</div>
			</div> <!-- /row -->
		</div><!-- /container -->
	{% endfor %}
{% endblock %}