.galleria__main {
	position: relative;
	height: 20em;
}

.galleria__viewport {
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.galleria__slider {
	height: 100%;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	white-space: nowrap;
}

.galleria__item {
	margin: 0;
	height: 100%;
	width: 100%;
	display: inline-block;
	position: relative;
}

.galleria__item img {
	height: 100% !important;
	width: 100% !important;
	display: block;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: 50% 50%;
	   object-position: 50% 50%;
	/* This is required for the Internet Explorer / Edge polyfill */
	font-family: 'object-fit: contain; object-position: 50% 50%';
	/*background: rgba(0,0,0,0.02);*/
}

.galleria__item figcaption {
	white-space: normal;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.galleria__nav {
	position: absolute;
	z-index: 10;
	top: 50%;
}

.galleria__nav--next {
	right: 1em;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}

.galleria__nav--prev {
	left: 1em;
	-webkit-transform: translate(0, -50%);
	        transform: translate(0, -50%);
}