{% extends "base.twig" %}

{% block content %}

	{% for row in posts | batch(3) %}
		<div class='row'>
		{% for post in row %}
			<div class='col-md-4'>
			{% 
				include 'tease/tease-editie.twig' with {
					'post': post
				}
			%}
			</div>
		{% endfor %}
		</div>
	{% endfor %}

	{% include 'components/pagination.twig' %}
{% endblock %}