<div class='calendar__dayheader'>

	<div class='calendar__dayheader-inner'>
		<div class='calendar__dayheader-weekday'>
			{{ date | date("l") }}
		</div>
		<div class='calendar__dayheader-monthday'>
			{{ date | date("d") }}
		</div>
		<div class='calendar__dayheader-month'>
			{{ date | date("M Y") }}
		</div>
	</div>
</div>