<div class='eveniment__artists'>
	<h3>{{__("Despre artiști", "TDI")}}</h3>
	{% for artist in eveniment_artisti %}
		{% 
			include 'tease/tease-artist.twig' with {
				'post': artist,
				'exclude_name': true
			}
		%}
	{% endfor %}
</div>