{% if not gallery_post %}
	{% set gallery_post = post.get_field('galerie') %}
{% endif %}

{% if gallery_post %}

	{% set photo_gallery = gallery_post.get_field('galerie') %}
	{% set video_gallery = gallery_post.get_field('video') %}

	{% if photo_gallery and photo_gallery | length %}

		{{ enqueue_script('gallery') }}

		<div class='container'>
			<div class='gallery'>
				<a href='#' data-galleria-role='nav-next'>
					{# <svg width='20' height='20' viewBox='0 0 20 20'>
						<polyline points='2,2 5,2 13,10 5,18 2,18 10,10'></polyline>
					</svg> #}
					<span>&rarr;</span>
				</a>
				<a href='#' data-galleria-role='nav-prev'>
					{# <svg width='20' height='20' viewBox='0 0 20 20'>
						<polyline points='18,2 15,2 7,10 15,18 18,18 10,10'></polyline>
					</svg> #}
					<span>&larr;</span>
				</a>
				<div data-galleria-role='viewport'>
					<div data-galleria-role='slider'>
						{% for image in photo_gallery %}
						<figure data-galleria-role='item'>
						    <picture><img src="{{ TimberImage(image).src | full_size }}"/></picture>
						    <figcaption>{{image.caption | default(image.title) }}</figcaption>
						</figure>
						{% endfor %}
					</div>
				</div>
			</div>
		</div> <!-- /container -->
	{% endif %}

	{% if video_gallery and video_gallery | length %}
		<div class='container'>
			{% for row in video_gallery | batch(3) %}
				<div class='row row--spaced'>
				{% for video in row %}
					<div class='col-md-4'>
					{% if video.link %}
						{% set type = video.link | hostname %}

						{% 
							include 'tease/tease-video.twig' with {
								'video': video
							}
						%}
							
					{% endif %}
					</div>
				{% endfor %}
				</div>
			{% endfor %}
		</div>

		<div class='video-overlay'>
			<div class='video__close'>
				<a href='' data-video-close>&times;</a>
			</div>
			<div class='video__title'></div>
			<div class='video'></div>
		</div>

		{{ enqueue_script('video-gallery') }}
	{% endif %}
{% endif %}