<header>
	{% block header %}
		<h1 role="banner">
			<a href="{{site.url}}" rel="home">
				{{site.name}}
			</a>
		</h1>
		<nav role="navigation">
			{% 
				include "components/menu.twig" with {
					'menu': menu.get_items
				} 
			%}
		</nav>

		<form action="{{site.link}}" method="GET">
			<input name="s" placeholder="Caută în site" type="search">
		</form>
	{% endblock %}
</header>