<h4>{{__("Newsletter", "TDI")}}</h4>
<form action="{{form_action}}" method="post" class='newsletter' target="_blank">
	<input name="EMAIL" type="email" required placeholder='{{__("Adresa de e-mail", "TDI")}}'>
	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="{form_spam_protect}" tabindex="-1" value=""></div>
	<button type='submit' class='btn'>{{__("Abonează-te", "TDI")}}</button>
</form>