{% if post.prev or post.next %}
	<div class='pagination pagination--eveniment row'>
		<div class='col col-sm-4'>
			{% if post.prev %}
				{%
					include 'tease/tease-eveniment.twig' with {
						'post': post.prev
					}
				%}
			{% else %}
			<span class='pagination__item pagination__item--prev pagination__item--inactive'>
				&larr;
			</span>
			{% endif %}
		</div>

		<div class='col col-sm-4'>
			{%
				include 'tease/tease-editie.twig' with {
					'post': editie
				}
			%}
		</div>

		<div class='col col-sm-4'>
			{% if post.next %}
				{%
					include 'tease/tease-eveniment.twig' with {
						'post': post.next
					}
				%}
			{% else %}
			<span class='pagination__item pagination__item--next pagination__item--inactive'>
				&rarr;
			</span>
			{% endif %}
		</div>
	</div>
{% endif %}