{% if prev or next %}
<div class='pagination pagination--post'>
	{% if prev %}
	<a href="{{prev.link}}" class="pagination__item pagination__item--prev">
		&larr; {{prev.title}}
	</a>
	{% else %}
	<span class='pagination__item pagination__item--prev pagination__item--inactive'>
		&larr;
	</span>
	{% endif %}

	{% if next %}
	<a href="{{next.link}}" class="pagination__item pagination__item--next">
		{{next.title}} &rarr;
	</a>
	{% else %}
	<span class='pagination__item pagination__item--next pagination__item--inactive'>
		&rarr;
	</span>
	{% endif %}
</div>
{% endif %}